<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Search</title>
</head>
<body>
    <style> 
        input[type=text] {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }
        </style>
    <h3>
        Create Medicine
    </h3>
    <form #simpleform="ngForm" (ngSubmit)="getValues(SimpleForm.value)">
        <input type="text" ngModel name="Medicine Name" placeholder="Enter Medicine Name">
        <br><br>
        <input type="text" ngModel name="Component 1" placeholder="Enter Component 1">
        <br><br>
        <input type="text" ngModel name="Component 2" placeholder="Enter Component 2">
        <br><br>
        <input type="text" ngModel name="Component 3" placeholder="Enter Component 3">
        <br><br>
        <input type="text" ngModel name="Component 4" placeholder="Enter Component 4">
        <br><br>
        <button>Save</button>
    </form>
</body>
</html>
